<!DOCTYPE html>
<html>

<head>
    <title>File Structure</title>
</head>

<body>
    <h1>Container File Structure</h1>
    <ul>
        {% for path, content in structure.items() %}
        <li>
            <strong>{{ path }}</strong>
            <ul>
                <li>Directories:
                    <ul>
                        {% for d in content['dirs'] %}
                        <li>{{ d }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>Files:
                    <ul>
                        {% for f in content['files'] %}
                        <li>{{ f }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>

</html>