<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Pipeline</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <button id="run-pipeline-button">Run Pipeline</button>
    <ul id="progress-log">
        <li id="download_model">Download model</li>
        <li id="convert_model">Convert model</li>

        <li id="run_rust_spectral_analysis">Convert Rust to Wasm (spectral analysis)</li>
        <li id="run_rust_model">Convert Rust to Wasm (classifier)</li>
        <li id="run_save_data">Convert Rust to Wasm (saving data)</li>

        <li id="upload_wasm_model">Upload spectral analysis module to orchestrator</li>
        <li id="upload_wasm_spec">Upload classifier module to orchestrator</li>
        <li id="upload_save_data">Upload save data module to orchestrator</li>

        <li id="add_model_desc">Add classifier description</li>
        <li id="add_spectral_analysis_desc">Add spectral analysis description</li>
        <li id="add_save_data_desc">Add save data description</li>

        <li id="do_deployment">Do deployment</li>
        <li id="deploy">Deploy</li>
    </ul>
    <p id="response-message"></p>

    <script>
        $(document).ready(function () {
            $("#run-pipeline-button").click(function () {
                $("#progress-log li").each(function () {
                    $(this).text($(this).text().replace(" ✅", ""));
                });
                $("#response-message").text("");

                const eventSource = new EventSource("/run_pipeline_progress");

                eventSource.onmessage = function (event) {
                    const stepId = event.data;
                    $("#" + stepId).append(" ✅");
                };

                eventSource.addEventListener("fail", function (event) {
                    const failedStepId = event.data;
                    $("#" + failedStepId).append(" ❌");
                });

                eventSource.addEventListener("end", function (event) {
                    $("#response-message").text(event.data);
                    eventSource.close();
                });

                eventSource.addEventListener("error", function (event) {
                    $("#response-message").text("Error: " + event.data);
                    eventSource.close();
                });
            });
        });
    </script>
</body>

</html>