<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Request to Orchestrator</title>
    <script>
        // Function to send AJAX request to the server
        function sendRequest(endpoint) {
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.message;
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: ' + error;
                });
        }


        function sendFile(endpoint) {
            const fileInput = document.getElementById('wasmFileInput');
            const file = fileInput.files[0];

            if (!file) {
                document.getElementById('result').innerText = 'Please select a file to upload.';
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            fetch(endpoint, {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = data.message;
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: ' + error;
                });
        }

        function sendValues() {
            const a = document.getElementById("a").value;
            const b = document.getElementById("b").value;

            // Send a POST request to the server
            fetch("/calculate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ a: parseInt(a), b: parseInt(b) }), // Convert inputs to integers
            })
                .then(response => response.json())
                .then(data => {
                    // Display the result
                    document.getElementById("result2").innerText = "Result: " + data.result;
                });
        }

        function deploy() {
            const a = document.getElementById("dropdown").value;
            const b = document.getElementById("dropdown2").value;

            // Send a POST request to the server
            fetch("/deploy2", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ a: a, b: b })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        // Display the deployment ID or other data you want
                        document.getElementById("result2").innerText = "Deployment ID: " + data.deployment._id;
                    } else {
                        // Handle error cases
                        document.getElementById("result2").innerText = "Error: " + data.message;
                    }
                })
                .catch(error => {
                    document.getElementById("result2").innerText = "Error: " + error;
                });
        }


        function do_run() {
            const a = document.getElementById("dropdown").value;
            const b = document.getElementById("dropdown2").value;

            // Send a POST request to the server
            fetch("/do_run", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ a: a, b: b })
            })
                .then(response => response.text())  // Expecting plain text, not JSON
                .then(data => {
                    // Display the received string directly
                    document.getElementById("result2").innerText = "Response: " + data;
                })
                .catch(error => {
                    document.getElementById("result2").innerText = "Error: " + error;
                });
        }
    </script>
</head>

<body>

    Api key: {{api_key}}

    <form>
        <label for="dropdown">Choose an option:</label>
        <select id="dropdown" name="options">
            <!-- Jinja2 loop to create dropdown options -->
            {% for module in modules %}
            <option value="{{ module[1] }}">{{ module[0] }}</option>
            {% endfor %}
        </select>
    </form>

    <form>
        <label for="dropdown2">Choose an option:</label>
        <select id="dropdown2" name="options">
            <!-- Jinja2 loop to create dropdown options -->
            {% for module in modules %}
            <option value="{{ module[1] }}">{{ module[0] }}</option>
            {% endfor %}
        </select>
    </form>

    Modules: {{modules}}

    <p id="result2"></p>

    <button onclick="deploy()">Deploy</button>

    <button onclick="do_run()">Run</button>









    <h1>Calculate</h1>

    <!-- Input fields for a and b with dynamic default values from Python -->
    <input type="number" id="a" value="{{ a }}">
    <input type="number" id="b" value="{{ b }}">

    <!-- Button to trigger the calculation -->
    <button onclick="sendValues()">Calculate</button>

    <!-- Display the result -->
    <p id="result2"></p>



    <h1>Send Request to Orchestrator</h1>
    <div class="request-div-container">
        <div class="request-div">
            <h2>Health</h2>
            <button type="button" onclick="sendRequest('/health-request')">Send Health Request</button>

            <h2>Manifest</h2>
            <button type="button" onclick="sendRequest('/manifest-request')">Send Manifest Request</button>

            <h2>Devise</h2>
            <button type="button" onclick="sendRequest('/device-request')">Send Device Request</button>

            <h2>Module</h2>
            <button type="button" onclick="sendRequest('/module-request')">Send Module Request</button>
        </div>

        <div class="request-div">
            <h2>Logs</h2>
            <button type="button" onclick="sendRequest('/logs-request')">Send Logs Request</button>

            <h2>Execute</h2>
            <button type="button" onclick="sendRequest('/execute-request')">Send Execute Request</button>

            <h2>???</h2>
            <input type="file" id="wasmFileInput" accept=".wasm" />
            <button type="button" onclick="sendFile('/upload_wasm')">Upload WASM</button>

            <h2>???</h2>
            <button type="button" onclick="getModules()">Get modules</button>
        </div>
    </div>





    <h1>Testi:</h1>
    <ul>
        {% for item in testi %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {{module_left}}
    {{module_right}}

    {{deployments}}
    {{devices}}

    <h3>Result:</h3>
    <div id="result"></div>
</body>

<style>
    .request-div-container {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .request-div {
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        text-align: center;
    }

    button {
        margin-bottom: 10px;
        width: 100%;
    }
</style>

</html>